:root {
    --fuente: 'Bai Jamjuree', sans-serif;
    --strong-cyan-active: hsl(171, 66%, 44%);
    --strong-cyan: hsl(171, 78%, 32%);
    --strong-cyan-shadow-active: hsl(171, 65%, 29%);
    --strong-cyan-shadow: hsl(171, 65%, 22%);
    --light-blue-active: hsl(233, 100%, 69%);   
    --light-blue: hsl(233, 73%, 58%);
    --light-blue-shadow-active: hsl(233, 45%, 43%);   
    --light-blue-shadow: hsl(233, 43%, 35%); 
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
    --white: hsl(0, 0%, 100%);
}
* {
    box-sizing: border-box;
    margin: 0 auto;
}
body {
    font-family: var(--fuente);
    /* Poner el fondo en el "contenedor" si queremos que cubra solo el ancho de este y deje dos franjas laterales */
    background-image: url("../images/bg-header-desktop.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-gap: 15vh;
    width: 60%;
    margin-top: 8vh;
}

h1,
h2,
h3 {
    color: var(--dark-grayish-blue);
    margin-bottom: 10px;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}

.parrafo {
    color: var(--grayish-blue);
    font-size: .9em;
    line-height: 1.7em;
}


/* --------------   SECCIONES   -------------- */

.seccion {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
}
.cabecera {
    grid-template-rows: repeat(4, auto);
}
.keep-track {
    grid-template-rows: repeat(3, auto);
}


/* -------------   SECCION CABECERA    ----------- */

.logo-cabecera {
    height: 75px;
    width: 75px;
    margin-bottom: 30px;
}
.p-cabecera {
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* -------------   SECCION KEEP-TRACK    ----------- */

.p-keep-track,
.p-access-clipboard,
.p-supercharge {
    width: 65%;
    margin-top: 20px;
    margin-bottom: 30px;
}
.keep-track__cloud {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    text-align: left;
    overflow: hidden;
    
}
.keep-track__cloud-image {
    width: 55%;
    transform: translateX(-6%);
    margin-right: 0;
    margin-left: 0;
}
.keep-track__cloud-features {
    margin-left: 60px;
    margin-right: 0;
    width: 30%;
    height: 99%;
    display: flex;
    flex-direction: column;
}
.keep-track__cloud-features-feature {
    margin-bottom: 40px;
}

/* ----------   SECCION ACCESS-CLIPBOARD   -----------*/

.access-clipboard__image {
    width: 75%;
    margin-top: 30px;
}

/* ----------   SECCION SUPERCHARGE   -----------*/

.supercharge__features,
.supercharge__corporate-logos {
    display: grid;
    grid-template-rows: 1fr;
    margin-top: 20px;
}
.supercharge__features-icono {
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}
.supercharge__features {
    grid-template-columns: repeat(3, 1fr);
}
.supercharge__corporate-logos {
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    width: 100%;
    margin-top: 100px;
}
.supercharge__corporate-logos img {
    width: 100px;

}

/* -------------   BOTONERA    ----------- */

.boton {
    margin-top: 15px;
    padding: 12px 30px;
    border-radius: 100px;
    border-width: 2px;
    border-style:hidden hidden solid hidden;
    color: var(--white);
    font-family: var(--fuente);
    font-weight: 600;
}
.b-download-ios {
    background-color: var(--strong-cyan);
    border-color: var(--strong-cyan-shadow);
    margin-right: 5px;
}
.b-download-ios:active {
    background-color: var(--strong-cyan-active);
    border-color: var(--strong-cyan-shadow-active);
}
.b-download-mac {
    background-color: var(--light-blue);
    border-color: var(--light-blue-shadow);
    margin-left: 5px;
}
.b-download-mac:active {
    background-color: var(--light-blue-active);
    border-color: var(--light-blue-shadow-active);
    margin-left: 5px;
}










.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}