:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);   
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}
* {
    box-sizing: border-box;
    margin: 0 auto;
}
body {
    font-family: 'Bai Jamjuree', sans-serif;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    width: 90%;
    background-image: url("../images/bg-header-desktop.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

h1,
h2,
h3 {
    color: var(--dark-grayish-blue);
}
h1 {

}
h2 {

}
h3 {

}
.paragrafo {
    color: var(--grayish-blue);
}




.cabecera {

}










.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}